:root {
  --rp-c-brand: #00AA55; /* hsl(150deg 100% 33%) */
  --rp-c-brand-dark: #009048; /* hsl(150deg 100% 28%) */
  --rp-c-brand-darker: #00773b; /* hsl(150deg 100% 23%) */
  --rp-c-brand-light: #00dd6e; /* hsl(150deg 100% 43%) */
  --rp-c-brand-lighter: #11ff88; /* hsl(150deg 100% 53%) */
  --rp-c-brand-tint: rgba(0, 170, 85, 0.15);

  --rp-home-hero-secondary-color: #009048;

  --shiki-foreground: #e1e4e8;
  --shiki-background: #24292e;
  --shiki-token-constant: #79b8ff;
  --shiki-token-string: #9ecbff;
  --shiki-token-comment: #6a737d;
  --shiki-token-keyword: #f97583;
  --shiki-token-parameter: #ffab70;
  --shiki-token-function: #b392f0;
  --shiki-token-string-expression: #9ecbff;
  --shiki-token-punctuation: #6a737d;
  --shiki-token-link: #dbedff;
}

h1{
  font-size: 2.8rem !important;
  text-shadow: 0 0.5px 4px rgba(10, 10, 10, 0.2) !important;
}

.rp-home-hero__subtitle {
  text-shadow: 0 0.5px 4px rgba(10, 10, 10, 0.2) !important;
}